.app {
  max-width: 600px;
  padding: 10px 15px;
}

.chunk {
  display: inline-block;
  width: auto;
  background-color: #abc;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin: 20px;
}
