$padding-vertical: 0px;
$padding-horizontal: 0px;

.app {
  height: calc(100% - $padding-vertical * 2);
  width: calc(100% - $padding-horizontal * 2);
  padding: $padding-vertical $padding-horizontal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  .button {
    background: linear-gradient(to bottom, #030377 0%, #010141 101%);
    transition-property: unset;
    font-size: 1.2rem;
    padding: 0 10px;
    &:hover {
      background: linear-gradient(to bottom, #030377 0%, #030377 101%);
    }

    &:focus {
      text-decoration: underline;
    }
  }

  .chip {
    border-radius: 0;
    padding: 0 0;
    font-size: 0.975rem;
  }
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: $padding-vertical $padding-horizontal;
}

.controlSpacer {
  height: 55px;
  width: 100%;
  justify-self: start;
}

.choicesMade {
  margin-bottom: 10px;
}

.otherChoices {
  margin-top: 10px;
}

.chunk {
  display: inline-block;
  width: auto;
  background-color: #abc;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin: 20px;
}

.resultWrapper {
  position: relative;
  flex-grow: 2;
  flex-shrink: 10;
  min-height: 100px;
  padding: 5px 0 0 0;
  margin: 0;

  $gradient-height: 30px;
  .fadeGradientTop {
    position: absolute;
    top: 5;
    left: 0;
    right: 0;
    height: $gradient-height;
    background: linear-gradient(to bottom, #e2e6ef, transparent);
  }
  .fadeGradientBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $gradient-height;
    background: linear-gradient(to top, #e2e6ef, transparent);
  }
  $result-padding: $gradient-height - 10px;
  .result {
    max-height: calc(100% - $result-padding * 2);
    padding: $result-padding 0;
    overflow: auto;
    text-align: left;

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.descriptionHighlight {
  background-color: rgba(255, 248, 148, 0.9);
  //background-color: rgb(212, 216, 226);
  border: 1px solid rgba(189, 158, 0, 0.5);
  //border: 1px solid rgb(55, 69, 217);

  //white-space: both;
  //white-space: nowrap;
  //overflow: hidden;
  //text-overflow: ellipsis;

  padding: 0 4px;
  font-weight: bold;
  border-radius: 3px;
}
